* {
    box-sizing: border-box;
  }

  h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .container{
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
   transform: translate(-50%, -50%);  
   border-radius: 25px;
   background-color: #f2f2f2;
   padding: 20px;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
  }

  input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
 
  
  button {
    margin-top: 10px;
    background: darkslategray;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  
  .col-25 {
    float: left;
    width: 40%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 60%;
    margin-top: 6px;
  }

  .row p{
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #message{
    text-align: center;
    color: crimson;
    font-size: 1.5rem;
  }

  @media only screen and (max-width : 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}


  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
